.product-img img{
    height: 67vh;
    object-fit: cover;
}
.product, .product-desc, .product-review{
    border-bottom: solid 1px rgb(2, 248, 252);
}
.cart-btn{
    width: 60%;
    margin-left: 2rem;
    height: 3rem;
    background-color: transparent;
    border: solid 1.4px rgb(2, 248, 252);
    color: rgba(2, 248, 252);
    transition: all 0.4s ease;
}

.cart-btn:hover{
    background-color: rgb(2, 248, 252);
    color: black;
}

.product-info .title{
    font-size: 2rem;
    letter-spacing: 1.4px;
    font-weight: bold;
}

.product-info .price{
    font-size: 1.4rem;
}

.product-info .short-desc{
    font-size: 1rem;
    letter-spacing: 1.5px;
    color: rgb(180, 180, 180);
}

.product-desc-tab .title, .product-rev .title{
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: rgb(2, 248, 252);
}

.product-desc-tab .content{
    color: white;
    font-size: 0.9rem;
    letter-spacing: 1.1px;
}

.single-review .user-avatar{
    height: 4.3rem;
    width: 4.3rem;
    border-radius: 50%;
}
.review-content .stars{
    font-size: 0.6rem;
}
.review-content .user-name{
    font-size: 1.3rem;
    font-weight: bold;
}

.review-content .user-comment{
    font-size: 0.9rem;
    color: rgb(136, 136, 136);
    letter-spacing: 1.2px;
    margin-top: -10px;
}

.review-btn{
    width: 40%;
    border: solid 1.3px rgb(2, 248, 252);
    color: rgb(2, 248, 252);
    background-color: transparent;
    transition: all 0.3s ease;
}

.review-btn:hover{
    background-color: rgb(2, 248, 252);
    color: black;
}

.rate-product p{
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    text-align: center;
}

.rate-product input{
    width: 60%;
    border: solid 1.2px black;
}
.rate-product .rate-btn{
    border: solid 1.2px black;
    background-color: transparent;
    transition: all 0.3s ease;
}

.rate-product .rate-btn:hover{
    background-color: black;
    color: white;
}
